<div class="container form-box">
  <h1>Create a Cocktail</h1>
<%= simple_form_for @cocktail do |c| %>
  <%= c.input :name %>
  <%= c.input :photo %>
  <%= c.input :photo_cache, as: :hidden %>
  <%= c.button :submit %>
<% end %>
</div>

