<div class="navbar-wagon">
  <div class="navbar-wagon-link navbar-wagon-link:hover">
  </div>
</div>
<div class="container  card-category">
  <div class="">
  <h1 class="text-center"><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
  <p><%= dose.description %> <%= dose.ingredient.name %> </p>
  <%= link_to "Delete a dose", cocktail_dose_path(dose, cocktail_id: params[:id]),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

  <%= link_to "Create a dose", new_cocktail_dose_path(@cocktail)%>
  <% end %>
  </div>

<p> <%= link_to "Home", cocktails_path%> </p>

  </div>
</div>
